exportPattern("^[[:alpha:]]+")

import('data.table')

importFrom('celestial', 'coordmatch')
importFrom('sphereplot', 'car2sph', 'sph2car')
importFrom('rgl', 'rotate3d')
importFrom('pracma', 'cross', 'dot')
importFrom('RANN', 'nn2')
